<div class="mb-6 rounded-lg bg-white p-6">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <img
        class="mr-2 h-10 w-10 rounded-full object-cover"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="profile"
      />
      <div>
        <h3 class="text-base font-semibold text-gray-900">
          {{ task()?.title }}
        </h3>
        <span class="block text-xs font-normal text-gray-500">{{
          task()?.createdAt | date
        }}</span>
      </div>
    </div>
  </div>
  <p class="my-6 text-sm font-normal text-gray-500">
    {{ task()?.description }}
  </p>
  <div
    class="mt-6 flex items-center justify-between text-sm font-semibold text-gray-900"
  >
    <div class="flex">
      @for (user of task()?.assignedTo; track user.id) {
        <span class="mr-1">{{ user.name }}</span>
      } @empty {
        <span class="mr-1 text-gray-500 text-xs">Sin asignar...</span>
      }
    </div>
  </div>
</div>
